flask-menu
invenio-access>=1.0.0a9
invenio-accounts>=1.0.0a13
invenio_assets>=1.0.0b1
invenio_db>=1.0.0a10
invenio_files_rest>=1.0.0a6
invenio_pidstore>=1.0.0a9
invenio_records>=1.0.0a17
invenio_records_ui>=1.0.0a7
invenio_previewer>=1.0.0a5