{#
  SPDX-FileCopyrightText: 2015-2019 CERN.
  SPDX-License-Identifier: MIT
#}

{# Creates the top for base previews #}
<style type="text/css">
  #top {
    height: 60px;
  }
  #top {
    background-color: #f5f5f5;
  }
  @media (max-width: 767px) {
    #top {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
</style>

<div id="top">
  <div class="container row">
    <div class="span8 offset1">
      <h2>{{ file.filename }}</h2>
    </div>
  </div>
</div>
